<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">
            <img src="assets/logo.png">
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down ml100">
            <li *ngFor="let page of pages" class="lipages">
                <a routerLink="/{{page.path}}">{{page.name}}</a>
            </li>
        </ul>
    </div>
    <div class="user" *ngIf="logged" (click)="logout()">
        <img src="assets/user.jpg">
    </div>
</nav>