.user {
    position: absolute;
    right: 0px;
    top: 0;
    cursor: pointer;
}

.user img {
    border-radius: 50%;
    border: 1px solid #DDD;
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.user img::after {
    content: "^";
}

.header {
    height: 80px;
    background: rgba(1, 1, 1, .05);
    box-shadow: 2px 2px 2px #DDD;
    position: relative;
    vertical-align: middle;
    line-height: 80px;
    padding-left: 20px;
}

nav {
    background: #26a69a;
}

.ml100 {
    margin-left: 100px;
}

.brand-logo img {
    width: 50px;
    margin-left: 20px;
}

.lipages {
    text-transform: uppercase;
}