<div class="content">
    <table id="myTable">
        <!--id="myTable"-->
        <thead>
            <th>id</th>
            <th>name</th>
            <th>image</th>
            <th>price</th>
            <th>Excluir</th>
        </thead>
        <tr *ngFor="let prod of productList">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td><img [src]="prod.img" width="50" height="50"></td>
            <td>{{prod.price}}</td>
            <td class="pointer" (click)="removeProduct(prod)">
                <i class="fa fa-trash trash" aria-hidden="true"></i>
            </td>
        </tr>

    </table>
    <button type="button" class="btn col-xs-12 col-sm-12 col-md-12 col-lg-12" (click)="downloadTable()">
       Baixar Tabela como Excel
    </button>
</div>