<!-- <style>
    .style1{
    background:gray;
    padding:20px;
    }
    .style2{
    background:red;
    padding:20px;
    }
</style>
<div [ngClass]="{'style1': ClasseBool , 'style2': !ClasseBool}" (click)="ClasseBool = !ClasseBool">Classe dinâmica</div>

<div [style.color]="color" (mouseenter)="color='red'"> Estilo dinamico </div>

<div [ngStyle]="{ 'color': color }" (mouseenter)="color='red'" > Background dinâmico</div> -->
<!-- <div class="content">
    <div class="card"></div>
</div> -->

<!-- 
<div [ngSwitch]="aba">
    <div *ngSwitchCase="1">
aba1
    </div>
<div *ngSwitchCase="2">
aba2
    </div>
<div *ngSwitchCase="3">
aba3
    </div>
</div> -->

<!-- <div appHighlight>Conteudo de uma diretiva</div> -->

<app-header></app-header>
<router-outlet></router-outlet>

