.mainContent {
    padding: 20px;
}

.myprod {
    text-align: center;
    box-shadow: 2px 2px 2px #DDD;
    padding: 10px;
    border: 1px solid #DDD;
    margin: 20px;
}

.myprod img {
    margin: 0 auto;
    display: block;
}

.content {
    position: relative;
}

.card {
    width: 200px;
    height: 200px;
    background: gray;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: green;
}

.card::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: blue;
}

.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
}

.btn:hover,
.btn:focus {
    background-color: #27ae60;
}