<div class="mainContent">
        <app-login></app-login>
        <hr>
      
        <!-- <hr>
        <app-fileupload></app-fileupload>
        <hr>
        <hr>
        <app-fileupload></app-fileupload>
        <hr>
      
        <hr>
        <app-fileupload></app-fileupload>
        <hr> -->
      
      </div>
      
      <hr> ProductComponent:
      <div>{{productBuy?.productName}}</div>
      <div>{{productBuy?.productId}}</div>
      <product-component [idprod]="'1'" (eventloaded)="evtProductLoaded($event)" (eventbuy)="evtProductBuy($event)"></product-component>
      <hr>
      
      <hr>
      <h5>{{title}} - {{imgSelected}}</h5>
      
      <div *ngFor="let size of sizeProductArray">{{size}}</div>
      
      <input type="text" placeholder="Buscar..." [(ngModel)]="buscaTxt" (blur)="blured($event)">
      
      <!-- (keyup)="changedSearch($event)" -->
      
      <div *ngFor="let prod of products | search:buscaTxt" class="myprod" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
        <div>id: {{prod.id}}</div>
        <div>name:{{prod.name}}</div>
        <div>price:{{prod.price}}</div>
        <div>sizeProduct:{{prod.sizeProduct}}</div>
        <img [src]="prod.img" width="200" height="300" (click)="callImg(prod.name + prod.id)">
      </div>
      <a target="_blank">
      
        <a class="waves-effect waves-light btn">button</a>
        <a class="waves-effect waves-light btn">
          <i class="material-icons left">cloud</i>button</a>
        <a class="waves-effect waves-light btn">
          <i class="material-icons right">cloud</i>button</a>
      
      
      
      
        <!-- <pre>
        {{myJson | json }}
      </pre> -->