{{loading}}
<div class="content">
    <div class="title">Login</div>
    <form [formGroup]="myForm" (ngSubmit)="submitForm() && myForm.valid">

        <input type="text" formControlName="cpf" placeholder="cpf">
        <input type="text" formControlName="email" placeholder="email">
        <input type="text" formControlName="name" placeholder="nome">
        <input type="password" formControlName="password" placeholder="senha">

        <input type="submit" class="btn" [disabled]="!myForm.valid">
        <button (click)="logout()" class="btn ml20" type="button" [disabled]="!logged">Logout</button>
        <div *ngIf="myForm.dirty && submitted" class="alertmsgs">
            <div *ngIf="myForm.controls['email'].hasError('email')">Email Inválido</div>
            <div *ngIf="myForm.controls['name'].hasError('required')">Nome Obrigatório</div>
            <div *ngIf="myForm.controls['password'].hasError('minlength')">Senha com no mínimo 5 caractéres</div>
            <div *ngIf="myForm.controls['cpf'].hasError('pattern')">Cpf Inválido</div>
        </div>

    </form>
    <h6 class="msg" *ngIf="logged">{{msg}}</h6>
    <!-- {{returnMyForm(myForm)}} -->
</div>