.alertmsgs {
    color: red;
}

.p20 {
    padding: 20px;
}

.ml20 {
    margin-left: 20px;
}

.msg {
    text-align: left;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 15px;
    color: #0f5b54;
}