.card-image img {
    max-width: 400px;
    margin: 0 auto;
}

.content {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: none;
    max-height: 600px;
    margin-top: 20px;
    border: none;
}

.btnadd {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}