<!--<div *ngFor="let i of [1,2,3,4]">-->
<!--<product-component [idprod]="i" (eventloaded)="evtProductLoaded($event)" (eventbuy)="evtProductBuy($event)"></product-component>-->
<!--</div>-->

{{loading}}
<div class="row content" *ngFor="let product of arrayProduct">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img [src]="product.img" width="200" height="300" (click)="buyProduct(product.name , product.id)">
            </div>
            <div class="card-content">
                <div>
                    <span class="card-title">{{product?.name}}</span>
                    <div class="myproduct">
                        <b>{{product?.price | currency:'BR'}}</b>
                        <b>id: {{product?.id}}</b>
                        <b>Tamanho:{{product?.sizeProduct}}</b>
                    </div>
                </div>
            </div>
            <button class="btn btnadd" (click)="incremetProduct()">Add product</button> {{_nProduct}}
        </div>
    </div>
</div>