<div class="content">
    <div class="title">Cadastro</div>
    <form [formGroup]="myForm" (ngSubmit)="cadastrar()">
        <input type="text" formControlName="id" placeholder="id">
        <input type="text" formControlName="name" placeholder="nome">
        <input type="text" formControlName="price" placeholder="preço">
        <app-fileupload (eventloaded)="loadedimg($event)"></app-fileupload>

        <button class="btn mt20 col-xs-12 col-sm-12 col-lg-12">Cadastrar</button>
    </form>
</div>