{{loading}}
<div class="row">
    <div class="col s12 m6" *ngIf="loaded">
        <div class="card">
            <div class="card-image">
                <img [src]="product.img" width="200" height="300" (click)="buyProduct(product.name , product.id)">
            </div>
            <div class="card-content">
                <div>
                    <span class="card-title">{{product?.name}}</span>
                    <div class="myproduct">
                        <b>{{product?.price | currency:'BR'}}</b>
                        <b>id: {{product?.id}}</b>
                        <b>Tamanho:{{product?.sizeProduct}}</b>
                    </div>
                </div>
            </div>
            <button (click)="incremetProduct()">Add product</button>
            {{_nProduct}}
        </div>
    </div>
</div>