/* You can add global styles to this file, and also import other style files */

.content {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 2px 2px 2px #a5abab;
    max-height: 600px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
}

.title {
    font-size: 18px;
    color: #26a69a;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.mt20 {
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

a:hover {
    color: #e7fffd;
    text-decoration: underline;
}